[user]
	name = Dries De Peuter
	email = dries@nousefreak.be

[color]
   ui = true

[alias]
   lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

